.card-title-lg {
    font-size: 28pt;
    font-weight: 400;
}
.navbar .nav-link
{
    color: white; 
    font-weight: bold; 
    font-size: 1.2rem; 
}
.navbar
{
  background-color: peachpuff;
}
.navbar-brand
{
    color: red; 
      font-weight: bold; 
      font-size: 2rem; 
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
main {
  margin-top: 100px; 
  }

  .img-fluid {
  margin-top: 20px; 
  }
  .card-text-lg
  {
    font-size:small;
  }
  .card-title-lg
  {
    font-weight: bold;
  }
  body {
    display:contents;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 16px; 
  }
  
  .card {
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 16px;
      width: 400px; 
      height: 750px; 
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .card-title-lg .card-text
  {
    
  }
  
